doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title #{title}
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='javascripts/main.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		script(src='lib/bootstrap/js/bootstrap.min.js')
		script(src='bootstrap/js/bootstrap.min.js')

	body
		include header.pug

		.container.contact-form
			.contact-image
				img(src='https://image.ibb.co/kUagtU/rocket_contact.png' alt='rocket_contact')

			form(method='post' action='/')
				h3 Drop Us a Message
				.row
					.col-md-6
						.form-group
							input.form-control(type='text' name='txtName' placeholder='Your Name *' value='')
						.form-group
							input.form-control(type='text' name='txtEmail' placeholder='Your Email *' value='')
						.form-group
							input.form-control(type='text' name='txtPhone' placeholder='Your Phone Number *' value='')
						.form-group
							input.btnContact(type='submit' name='btnSubmit' value='Sende Message')
					.col-md-6
						.form-group
							textarea.form-control(name='txtMsg' placeholder='Your Message *' style='width: 100%; height: 150px;')
		
		include footer.pug
