footer
	.container 
		.row.border-top-bottom
			.col-sm-3.col-xs-12
				img(src='images/location.png' alt='First Picture' height='50' width='50')
				br
				br
				p 
					| San Mateo, CA 94401
				p
					| California, USA

			.col-sm-3.col-xs-12
				img(src='images/location.png' alt='First Picture' height='50' width='50')
				br
				br
				p 
					| Ayazağa Mah., Dereboyu Cad.  
				p
					|  Istanbul, Turkey

			.col-sm-3.col-xs-12 
				img(src='images/mail.png' alt='First Picture' height='50' width='50')
				br
				br
				p
					span Email
					h6 info@success.soft.com
			.col-sm-3.col-xs-12
				img(src='images/phone.png' alt='First Picture' height='50' width='50')
				br
				br
				p
					span Telephone
					h6 USA: +1 640-342-8755
					h6 Turkey: 0212 525 65 67
			
	.container.footer-terms
		.row
			.col-md-2.col-xs-12 
			.col-md-6.col-xs-12 
				p
					| @successsoft
			.col-md-4.col-xs-12 
				a(href='/') Terms &amp; Conditions
